/* header */
.hlogo {
    width: 100px;
    height: auto;
}

ul li {
    padding: 0 25px;
}

.btn-icon {
    border: none;
    background-color: none;
}

.nav-link {
    font-size: 25px;
}

/* main */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    padding: 20px;
}

/* footer */
.flogo {
    width: 100px;
    height: auto;
}

footer {
    color: white;
    background-color: black;
}

/* mobile ver */
@media (max-width: 960px) {
    header {
        background-color: #FF5C00;
    }

    .hlogo {
        display: none;
    }

    .navbar-toggler-icon {
        display: block;
    }

    .navbar-collapse {
        display: none;
    }

    .btn-icon {
        display: block;
    }

    .form-inline .form-control {
        display: none;
    }

    .navbar .navbar-toggler {
        border: none;
    }
}