/* header css */
.hlogo {
    width: 100px;
    height: auto;
}

ul li {
    padding: 0 25px;
}

.btn-icon {
    border: none;
    background-color: transparent;
}

.nav-link {
    font-size: 25px;
}

/* footer css */
.flogo {
    width: 100px;
    height: auto;
}

footer {
    color: white;
    background-color: black;
}