/* header css */
.hlogo {
    width: 100px;
    height: auto;
}

ul li {
    padding: 0 25px;
}

.btn-icon {
    border: none;
    background-color: transparent;
}

.nav-link {
    font-size: 25px;
}

/* main css */
.img-container {
    position: relative;
    overflow: hidden;
}

.img-equal {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Maintain aspect ratio while filling the container */
}

.img-equal-height {
    height: 225px; /* Adjust the height as needed */
}

/* footer css */
.flogo {
    width: 100px;
    height: auto;
}

footer {
    color: white;
    background-color: black;
}